Source: bluecherry-client
Section: net
Priority: optional
Maintainer: Bluecherry <maintainers@bluecherry.net>
Build-Depends: debhelper (>= 7), libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev
Standards-Version: 3.8.4

Package: bluecherry-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer0.10-plugins-base,
 gstreamer0.10-plugins-good, gstreamer0.10-ffmpeg, libssl0.9.8
Description: Bluecherry DVR Client
 This package contains the client for the Bluecherry DVR system. It can
 also be used to connect to remote instances of the Bluecherry DVR server.
