Source: bluecherry-client
Section: net
Priority: optional
Maintainer: Bluecherry <maintainers@bluecherrydvr.com>
Build-Depends: debhelper (>= 7), libdbus-1-dev
Standards-Version: 3.8.4

Package: bluecherry-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libssl0.9.8
Description: Bluecherry DVR Client
 This package contains the client for the Bluecherry DVR system. It can
 also be used to connect to remote instances of the Bluecherry DVR server.

Package: bluecherry-client-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    bluecherry-client (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for bluecherry-client
 This package contains the debugging symbols for Bluecherry DVR Client
