[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Bluecherry Client
Categories=Network;Qt
Comment=Bluecherry DVR Client
Icon=/usr/share/bluecherry-client/bluecherry.png
Exec=bluecherry-client
